<!DOCTYPE html>
<html lang="en">
    <head>
        <style>

body {
    text-align: center;
    font-family: sans-serif;
}

table {
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 96, 148);
}

li {
    float: left;
}

.rightside {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #008080;
}

input {
    margin-bottom: 1vh;
}
        </style>
    </head>

<body>
<nav class="menu">
  <ul>
    <li><a href="signup">Sign Up</a></li>
    <li><a href="login">Log in</a></li>
    <li><a href="logout">Log Out</a></li>
    <li class="rightside"><a href="create">Create</a></li>
    <li class="rightside"><a href="board">Board</a></li>
    <li class="rightside"><a href="posts">My Posts</a></li>
  </ul>
</nav>
    {{{body}}}
</body>

</html>