<h1>Board</h1>

<table>
    <tr>
        <th>User</th>
        <th>Post</th>
    </tr>
    {{#posts}}
    <tr>
        <td>{{UserId}}</td>
        <td>{{title}}</td>
    </tr>
    {{/posts}}
</table>