<style>
   
</style>

<h1>Create your post</h1>

<form action="/posts" method="POST">
    <br>
    <textarea rows="10" cols="50" name="message" placeholder="Post"></textarea>
    <br>
    <input type="submit">
</form>