<style>
   
</style>

<h1>Log In</h1>

<form action="/users/login" method="POST">
    <br>
    <input type="text" name="username" placeholder="Username">
    <br>
    <input type="text" name="password" placeholder="Password">
    <br>
    <input type="submit">
</form>